.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-table {
    width: 85%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
