#dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8vh;
    padding-bottom: 10.5vh;
}

.dashboard-card-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.dashboard-card {
    width: 80%;
    height: 60vh;
    border-radius: 15px;
    background-color: #fafafa;
    box-shadow: 0 0 0.5em #121212;
}

.dashboard-card h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
}

.dashboard-buttons {
    width: 20%;
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.dashboard-buttons button {
    width: 75%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 0.5em #121212;
}

.dashboard-buttons button:hover {
    background-color: #202020;
}

.button-green {
    background-color: #00c177;
}

.button-red {
    background-color: #b7423c;
}

.card-content {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    margin: 0 1.5rem;
}

.card-content button {
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.7rem;
    background-color: #343434;
    color: #fff;
}

.card-content button:hover {
    background-color: #0f0f0f;
}

.card-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.dashboard-items {
    width: 100%;
    height: auto;
}
